{% extends "template.html" %}
{% block title %}Product: {{g.product_id}} - {{g.variation}}{% endblock %}
{% block content %}
<div class="ui main text container">
  <h1 class="ui header">Text Review: {{g.product_id}} - {{g.variation}}</h1>
  <table class="ui celled compact structured table">
    <thead>
      <tr>
        <th>次数</th>
        <th>Forward Segment</th>
        <th>次数</th>
        <th>Backward Segment</th>
      </tr>
    </thead>
    <tbody>
      {% for row in g.results %}
        {% set sentence = (' ').join(row[0][1]) %}
        {% set sentence_backward = (' ').join(row[1][1]) %}
        <tr>
          <td class="center aligned">{{row[1][0]}}</td>
          <td><a href={{url_for('get_reviews', product_id=g.product_id, variation=g.variation, head=sentence_backward, count=row[1][0])}}&rating={{g.rating}}>{{sentence_backward}}</a></td>
          <td class="center aligned">{{row[0][0]}}</td>
          <td><a href={{url_for('get_reviews', product_id=g.product_id, variation=g.variation, head=sentence, count=row[0][0])}}&rating={{g.rating}}>{{sentence}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}