{% extends "template.html" %}
{% block title %}Product: {{g.product_id}} - {{g.variation}}{% endblock %}
{% block content %}
<div class="ui main text container">
  <h1 class="ui header">Text Review: {{g.product_id}} - {{g.variation}}</h1>
  <table class="ui celled compact structured table">
    <thead>
      <tr>
        <th rowspan="2">Count</th>
        <th rowspan="2">Segment</th>
        <th colspan="2">Children</th>
      </tr>
      <tr>
        <th>Count</th>
        <th>Segment</th>
      </tr>
    </thead>
    <tbody>
      {% for item in g.results %}
        {% set sentence = (' ').join(item[1]) %}
        <tr>
          <td rowspan="{{item[2]|length + 1}}" class="center aligned">{{item[0]}}</td>
          <td rowspan="{{item[2]|length + 1}}"><a href={{url_for('get_reviews', product_id=g.product_id, variation=g.variation, head=sentence)}}&rating={{g.rating}}>{{sentence}}</a></td>
        </tr>
        {% for nested in item[2] %}
          <tr>
            {% set nested_sentence = (' ').join(nested[1]) %}
            <td class="center aligned">{{nested[0]}}</td>
            <td><a href={{url_for('get_reviews', product_id=g.product_id, variation=g.variation, head=nested_sentence)}}&rating={{g.rating}}>{{nested_sentence}}</a></td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}