<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
  <title>Hooray Template</title>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">First Web App</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
  {% block content %}
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>